pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Web2Activity",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://openweathervault.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web2Activity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource2",
						"type": "DatasetReference",
						"parameters": {
							"lat": 42.361145,
							"lon": -71.057083,
							"appid": {
								"value": "@activity('Web2Activity').output.value",
								"type": "Expression"
							},
							"start": {
								"value": "1726858287",
								"type": "Expression"
							},
							"end": {
								"value": "1695322287",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Json2",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"week": {
				"type": "Integer"
			},
			"weeks": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}